.header{
    width: 100%;
    background-color: whitesmoke;
    height: 60px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    .title{
        margin: 5px;
        text-align: center;
    }
}