*{
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}
.App{
  width: 500px;
  height: 100vh;
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}